<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>RFC Homepage</title>

  <!-- CSS and Materialize framework-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet"/>
  <link href="{% static 'css/main_page.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body >
  {% load static %}
  <!-- Content -->

  <div class="row">
    <nav>
      <div class="nav-wrapper light-green accent-4">
        <a href="#" class="brand-logo center">RFC</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="active"><a href="#">Homepage</a></li>
          <li><a href="{% url 'gallery' %}">Gallery</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
    </nav>
    <div class="parallax-container">
      <div class="parallax"><img class="responsive-img" src="{% static 'images/Ensemble-example-test.png' %}"></div>
    </div>
    {% for description in Club_Description.all %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="col s12 m12 l12">
      <div class="col s12 m5 l5"> 
        <div class=""><img class="responsive-img" src="{{ description.description_image.url }}"></div>
      </div>
      <div class="col s12 m7 l7">
        <h3>{{description.description_Title}}</h3>
        <h5>{{description.description}}</h5>
      </div>
    </div>
    {% else %}
    <div class="col s12 m12 l12">
      <div class="col s12 m7 l7"> 
        <h3>{{description.description_Title}}</h3>
        <h5>{{description.description}}</h5>
      </div>
      <div class="col s12 m5 l5">
        <div class=""><img class="responsive-img" src="{{ description.description_image.url }}"></div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="col s12 m12 l12">
      FOOTER
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/main_page.js' %}"></script>

</body>
</html>
